$primary-color: #e95b30;
$gray: #808080;

.orange {
  color: $primary-color;
}

.gray {
  color: $gray;
}

.leftNav {
  background-color: $primary-color;
  color: white;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.main-content {
  min-width: 100vw;
  padding-left: 100px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  .main-content {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn-outline-orange {
  color: $primary-color;
  border-color: $primary-color;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.home-first-section-bg {
  // display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../yfu/home-bg.png') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // height: 30px; /* Height of new image */
}

.home-first-section {
  color: white;
  background-color: black;
}

.fs-3 {
  font-size: 1.3em;
}

h1 {
  font-size: 3.5rem;
}

.main-btn {
  background-color: $primary-color;
  padding: 0.2em 1.4em !important;
  color: white;
  border: none;
}

.main-btn:hover {
  background-color: #85351c !important;
}

.faq-item {
  padding-bottom: 0.3rem;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.left-auto {
  left: auto;
}

.max-width-40 {
  max-width: 40%;
}
